@font-face {
  font-family: "sintony";
  src: url('../assets/Sintony-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "opensans";
  src: url('../assets/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}