@font-face {
  font-family: "sintony";
  src: url('../assets/sintony-bold-webfont.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "opensans";
  src: url('../assets/opensans-regular-webfont.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}