$primary-color: #ff9c9c;
$secondary-color: #ffc59c;
$tertiary-color: #ffed9c;
$quaternary-color: #ff6969;
$quinary-color: #ff3030;

$black-ish: #222;
$grey: #666;

$heart-color: #79bd9a;
$patria-color: #e01734;
$togo-color: #009de0;
$bilka-color: #00aeef;

$breakpoints: (
  "sm": 0,
  "md": 768px,
  "lg": 1280px
);

@mixin when-screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(2); }
  100% { transform: scale(1); }
}

@keyframes backgroundshift {
  0% { background-color: $primary-color; }
  20% { background-color: $secondary-color; }
  40% { background-color: $tertiary-color; }
  60% { background-color: $quaternary-color; }
  80% { background-color: $quinary-color; }
  100% { background-color: $primary-color; }
}

@keyframes backgroundheart {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(25);
    opacity: 0;
  }
}

@keyframes slimey {
  0% { transform: scale(0); }
  15% { transform: scale(1.75); }
  30% { transform: scale(1); }
  45% { transform: scale(1.25); }
  60% { transform: scale(1); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes illusion {
  0% { box-shadow: 0.5rem 0.5rem $black-ish; transform: translateZ(0) rotateX(6deg); }
  25% { box-shadow: 0 0 transparent; background-color: transparent; transform: translateZ(-6px); }
  75% { box-shadow: 0.5rem 0.5rem $black-ish; transform: translateZ(0) rotateX(6deg); }
  100% { box-shadow: 0.5rem 0.5rem $black-ish; transform: translateZ(0) rotateX(6deg); }
}
