$primary-color: #ff9c9c;
$secondary-color: #ffc59c;
$tertiary-color: #ffed9c;
$quaternary-color: #ff6969;
$quinary-color: #ff3030;

$black-ish: #222;

$heart-color: #79bd9a;
$patria-color: #e01734;
$bilka-color: #00aeef;
$togo-color: #009de0;

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(2); }
  100% { transform: scale(1); }
}

@keyframes backgroundshift {
  0% { background-color: $primary-color; }
  20% { background-color: $secondary-color; }
  40% { background-color: $tertiary-color; }
  60% { background-color: $quaternary-color; }
  80% { background-color: $quinary-color; }
  100% { background-color: $primary-color; }
}

@keyframes backgroundheart {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(25);
    opacity: 0;
  }
}